*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.input{
    text-align: center;
}

h1 {
    text-align: center;
}

h5 {
    text-align: center;
}

input[type="text"]{
    height: 50px;
    width: 600px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 2px;
    padding: 10px 10px;
}

input[type="submit"]{
    height: 50px;
    width: 100px;
    background: lightblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}

.display{
    text-align: center;
}

#weather-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

body {
   margin: 0;
   padding: 0;
   background-image: url("https://imgs.search.brave.com/0iFXlShiKuXUYb8rq8ai9fZk8ExQgnWeRq8Zv2WSIrk/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93d3cu/c2FnYS5jby51ay9j/b250ZW50bGlicmFy/eS9zYWdhL3B1Ymxp/c2hpbmcvdmVydGlj/YWxzL3RlY2hub2xv/Z3kvYXBwcy9zaHV0/dGVyc3RvY2tfMjQw/NDU5NzUxLmpwZw");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}